@{
    ViewBag.Title = "IndexCustomers";
}


@using Books_MVC.Models
@model IEnumerable<CustomerSummary>

<h2>IndexCustomers</h2>


<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.OrderCount) </th>
        <th>@Html.DisplayNameFor(model => model.Input.Active) </th>
    </tr>

    @foreach (var c in Model)
    {
        @Html.HiddenFor(m => c.Input.Number)

        <tr>
            <td>@Html.LabelFor(item=> c.Name,c.Name)</td>
            <td>@Html.LabelFor(item=>c.OrderCount, c.OrderCount) </td>
            <td>@Html.LabelFor(item=>c.Input.Active) 
                @Html.CheckBoxFor(x => c.Input.Active)
            </td>
        </tr>
    }
</table>
    


